body{
	background-color: rgb(61, 70, 70);
	background: linear-gradient(105deg, #fdcd3b 50%, #ffed4b 50%);
	margin: 50%;
  }
  header{
	width: 100%;
	color: rgb(0, 0, 0);
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	height: 100px;
	top: 0px;
	background-color: rgb(78, 78, 78);
	padding: 0;
	margin: 0;
	right: 0px;
	position: fixed;
  }
  .uph{
    padding: 10px;
    padding-left: 5%;
    }
  .upb{
	left: 60%;	
	margin: 8px;
	position: absolute;
	border: 1px solid black;
	top: 40%;
	margin: 10px;
	width: 70px;
	height: 40px;
	text-align: center;
	}
	.modeh{
	left: 39%;
	position: fixed;
	top: -1.5%;
	}